<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="icon" type="image/png" href="../storage/img/f.png">
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header>
        <div><button class="volver" onclick="window.history.back()"><img src="../storage/img/back.png"></button></div>
        <div><h2>Checkout</h2></div>
        <a class="Historial" href="./historial.html">Ver Compras Anteriores</a>
    </header>
    <main>
        <section class="items" id="listaCarrito">
            
            
        </section>
        <h2 class="shipping">Shipping Information</h2>
        <section class="card">
            <div class="cardImg">
                <img src="../storage/img/visa.png">
            </div>
            <div>
                <p>**** **** **** 2134</p>
            </div>
            <div>
                <button><img src="../storage/img/abajo.png"></button>
            </div>
        </section>
        <section class="total">
            <div><h3>Total (9 Items)</h3></div>
            <div><h2>$1,014.95</h2></div>
            <div><h3>Shipping Fee</h3></div>
            <div><h2>$.0.00</h2></div>
            <div><h3>Discount</h3></div>
            <div><h2>$.0.00</h2></div>
        </section>
        <hr>
        <section class="subtotal">
            <div><h3>Sub Total</h3></div>
            <div><h2>$1,014.95</h2></div>
        </section>
        <div class="contenedorMenu">
            <nav>
                <ul class="menu">
                    <li><button onclick="comprar()">Comprar</button></li>
                </ul>
            </nav>
        </div>
        <footer>
            <h5>Autor: Kevin Chávez. 2026 Todos los derechos reservados.</h5>
        </footer>
    </main>
    <script src="../js/checkout.js"></script>
</body>
</html>