<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header>
        <div><button class="volver" onclick="window.history.back()"><img src="../storage/img/back.png"></button></div>
        <div><h2>Checkout</h2></div>
    </header>
    <main>
        <section class="items">
            <article class="item">
                <div class="itemInfo">
                    <img src="../storage/img/imagen1Mini.png">
                </div>
                <div class="itemInfo2">
                    <h4>Modern light clothes</h4>
                    <p>Dress modern</p>
                    <h4>$212.99</h4>
                </div>
                <div class="itemInfo">
                    <button>-</button>
                    <h3>4</h3>
                    <button>+</button>
                </div>
                
            </article>
            <hr>
            <article class="item">
                <div class="itemInfo">
                    <img src="../storage/img/imagen2Mini.png">
                </div>
                <div class="itemInfo2">
                    <h4>Modern light clothes</h4>
                    <p>Dress modern</p>
                    <h4>$162.99</h4>
                </div>
                <div class="itemInfo">
                    <button>-</button>
                    <h3>1</h3>
                    <button>+</button>
                </div>
            </article>
            
        </section>
        <h2 class="shipping">Shipping Information</h2>
        <section class="card">
            <div class="cardImg">
                <img src="../storage/img/visa.png">
            </div>
            <div>
                <p>**** **** **** 2134</p>
            </div>
            <div>
                <button><img src="../storage/img/abajo.png"></button>
            </div>
        </section>
        <section class="total">
            <div><h3>Total (9 Items)</h3></div>
            <div><h2>$1,014.95</h2></div>
            <div><h3>Shipping Fee</h3></div>
            <div><h2>$.0.00</h2></div>
            <div><h3>Discount</h3></div>
            <div><h2>$.0.00</h2></div>
        </section>
        <hr>
        <section class="subtotal">
            <div><h3>Sub Total</h3></div>
            <div><h2>$1,014.95</h2></div>
        </section>
        <div class="contenedorMenu">
            <nav>
                <ul class="menu">
                    <li><h3>Pay</h3></li>
                </ul>
            </nav>
        </div>
        <footer>
            <h5>Autor: Kevin Chávez. 2026 Todos los derechos reservados.</h5>
        </footer>
    </main>
</body>
</html>