<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="icon" type="image/png" href="../storage/img/f.png">
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main>
        <button class="volver" onclick="window.history.back()"><img src="../storage/img/back.png"></button>
        <a class="tallasSitio" href="sizesTable.html"><img src="../storage/img/tallas.png"  alt="Tabla de tallas"></a>
        <section class="detalle" id="detalleProducto">
            
        </section>
        <div class="contenedorMenu">
            <nav>
                <ul class="menu" href="./checkout.html">
                    <li><a id="agregarCarrito" href="./checkout.html"><img src="../storage/img/cart.png">Add to Cart</a></li>
                </ul>
            </nav>
        </div>
        
        <footer>
            <br><br><br><br>
            <h5>Autor: Kevin Chávez. 2026 Todos los derechos reservados.</h5>
        </footer>
    </main>
    <script src="../js/detail.js"></script>
</body>
</html>