<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Compras</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="icon" type="image/png" href="../storage/img/f.png">
</head>
<body>
    <header>
        <div><button class="volver" onclick="window.history.back()"><img src="../storage/img/back.png"></button></div>
        <div><h2>Historial de Compras</h2></div>
    </header>
    <main>
        <div class="contenedorMenu">
            <nav>
                <ul class="menu">
                    <li><a href="../index.html"><img src="../storage/img/inicio.png"></a></li>
                </ul>
            </nav>
        </div>
        <section id="listaHistorial">
            
        </section>
    </main>
    <footer>
        <h5>Autor: Kevin Chávez. 2026 Todos los derechos reservados.</h5>
    </footer>
    <script src="../js/historial.js"></script>
</body>
</html>